/* Reset default browser styles */
body,
h2,
p {
  margin: 0;
  padding: 0;
}
h1{
  margin:0;
  padding:0;
  text-align: center;
}
/* Set background and text colors */
body {
  background-color: #f1f1f1;
  color: #333;
  font-family: Arial, sans-serif;
}

/* Header styles */
header {
  background-color: #007bff;
  padding: 20px;
}

header h1 {
  color: #fff;
  font-size: 24px;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  font-size: 16px;
  line-height: 1.5;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
code{
  background-color: lightgray;
  border-radius: 5px;
  padding: 3px;
}
#img-repo img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 90px;
  padding-top: 7px;
}
#img-hash li {
  display: flex;
  align-items: center;
}

#img-hash img {
  height: 20px;
  padding-left: 20px;
}
